

body {
  background-color: rgb(99, 220, 222);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  padding: 5px;
}

h1 {
  text-align: center;
}

img {
  width: 400px;
  height: auto;
}

.nav {
  background-color: rgb(255, 164, 148);
  list-style: none;
  text-align: center;
  width: 20%;
  padding: 10px 10px 5px 5px;
  margin: 5px auto;
  display: inline-block;
}


